//----------------------------------------Footer---------------------------------------//
.footer {
    border-top: 1px solid grey;
    width: 100%;
    position: fixed;
    bottom: 0;

    .footer-container {
        padding: 1rem;

        display: flex;
        justify-content: space-between;
        .footer-links {
            display: flex;
            gap: 1rem;
            color: grey;
        }
        .copyright {
            color: grey;
        }
    }
}
