//---------------------------------------- Games Portfolio Boxes---------------------------------------//
.portfolio-box {
    height: 10rem;
    display: flex;
    gap: 1rem;
    border-radius: 1rem;
    margin-top: 1rem;
    width: 80%;

    .game-image {
        display: flex;
        img {
            width: 30rem;
            border-radius: 1rem;
        }
    }

    .game-caption {
        width: 100%;
        display: flex;
        align-items: start;
        justify-content: flex-start;
        flex-direction: column;

        .game-title {
            font-size: 1.5rem;
            margin-top: 0.25rem;
        }
        p {
            margin-top: 0.25rem;
            font-size: 0.85rem;
            color: grey;
        }
        img {
            width: 2.5rem;
            height: 2.5rem;
            border-radius: 50%;
            margin-top: 0.5rem;
        }
    }
}

.portfolio-box:hover {
    background: #333333;
    cursor: pointer;
}

//----------------------------------------Responsiveness---------------------------------------//
@media (min-width: 23.75rem) and (max-width: 42.9rem) {
    .portfolio-box {
        // flex-direction: column;
        align-items: center;
        justify-content: center;
        // margin-left: 5rem;

        .game-image {
            width: 18rem;
        }
    }
}
